@import "../../scss/includes.scss";

.card {
  background: $color-card;
  border-radius: 0.8rem;
  cursor: pointer;
  height: 35rem;
  width: 17rem;

  transition: transform 0.2s;
  transform: scale(1);

  @include large-and-up() {
    &:hover {
      transform: scale(1.1);
      @include z-index("sky");
    }
  }

  i {
    color: $color-primary;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 6rem;
    text-align: center;
  }
}

.card-title {
  text-transform: uppercase;
  color: $color-primary !important;
}

.card-text {
  color: $color-white;
}

.card-img-top {
  width: 100%;
  height: 180px;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  border-top-left-radius: calc(0.8rem - 1px);
  border-top-right-radius: calc(0.8rem - 1px);
}

.internal-shadow {
  box-shadow: 2px 4px 8px 0 $color-background !important;
}
