@import "../../scss/includes.scss";

.root {
  @include grid(32);
  padding: 15rem 0 15rem 0;

  .container-root {
    @include grid-column-span(32);

    .title {
      text-transform: uppercase;
      color: $color-secondary;
      padding-bottom: 1rem;
      text-align: center;
      font-weight: 400;
      font-size: 2rem;
      max-width: 90%;
      margin: auto;

      @include large-and-up {
        font-size: 2.2rem;
      }
    }
  }
}
