<form [formGroup]="form">
  <p *ngIf="type !== 'currency'">
    <mat-form-field appearance="outline" [class.error]="hasError">
      <mat-label>{{ label }}</mat-label>
      <input
        [formControlName]="control"
        [type]="type"
        [mask]="mask"
        [required]="required"
        [placeholder]="placeholder"
        matInput
      />
    </mat-form-field>
  </p>

  <p *ngIf="type === 'currency'">
    <mat-form-field appearance="outline" [class.error]="hasError">
      <mat-label>{{ label }}</mat-label>
      <input
        currencyMask
        [formControlName]="control"
        type="text"
        [required]="required"
        [placeholder]="placeholder"
        matInput
      />
    </mat-form-field>
  </p>
</form>

<p *ngIf="hasError">
  <span *ngIf="isRequiredError" class="error">
    {{ label }} é obrigatório.
  </span>
  
  <span *ngIf="!isRequiredError && isEmailError" class="error">
    Preencha com um e-mail válido.
  </span>
</p>
