<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="root">
  <div class="container">
    <ng-container>
      <div class="row">
        <div *ngFor="let item of content" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
          <app-card
            [title]="item.title"
            [subtitle]="item.subtitle"
            (click)="setCardContent(item.target)"
            [img]="item.img"
            [icon]="item.icon">
          </app-card>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="container">
    <div class="text-center mt-3">
      <app-button *ngIf="!isFirstTime" (click)="repeat()" label="Começar novamente" icon="fa fa-repeat mr-2"></app-button>
    </div>
  </div>
</div>
