@import "app/scss/includes.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  color: $color-white !important;
}

p {
  color: $color-white !important;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $color-background !important;
  font-family: $font-montserrat !important;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  line-height: 1.25;
  font-size: 16px;
  height: 100%;
  margin: 0;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $color-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border: 3px solid $color-background;
    border-radius: 20px;
  }
}

img {
  vertical-align: baseline;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

.font-weight-bold {
  font-weight: 700 !important;
}

a {
  color: $color-white !important;
  text-decoration: none !important;
  transition: transform 0.1s;
  transform: scale(1);

  &:hover {
    transform: scale(1.1);
  }
}

.spinner-center-page {
  position: absolute;
  left: 50%;
  top: 50%;
}

.swal2-title {
  color: $color-medium-black !important;
}

.swal2-html-container {
  color: $color-medium-black !important;
}

.swal2-popup .swal2-styled {
  &:focus {
    box-shadow: none !important;
  }
}

.apexcharts-toolbar {
  @include medium-and-up {
    right: 27px !important;
  }
}

.apexcharts-legend-text {
  color: $color-white !important;
}

.apexcharts-menu {
  background-color: $color-card !important;
  border: 0px !important;
}

.apexcharts-menu-item {
  padding: 6px 5px !important;

  &:hover {
    background: $color-white !important;
    color: $color-medium-black !important;
  }
}

.apexcharts-toolbar {
  svg {
    fill: $color-white !important;
  }

  svg:hover {
    fill: $color-primary !important;
  }
}

.apexcharts-canvas {
  svg text {
    fill: $color-white;
  }
}
