<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="root" [@appeard]="state">
  <div class="container-root">
    <div class="container">
      <div class="card card-bordered bg-light mb-3">
        <div class="card-header">Acessos</div>
        <div class="card-body">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [labels]="chartOptions.labels"
            [stroke]="chartOptions.stroke"
            [plotOptions]="chartOptions.plotOptions"
            [markers]="chartOptions.markers"
            [fill]="chartOptions.fill"
            [tooltip]="chartOptions.tooltip">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
