<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="root" [@appeard]="state">
  <div class="container-root">
    <div class="container">
      <div class="card card-bordered bg-dark mb-3">
        <div class="card-header">Acessos</div>
        <div class="card-body">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [labels]="chartOptions.labels"
            [stroke]="chartOptions.stroke"
            [plotOptions]="chartOptions.plotOptions"
            [markers]="chartOptions.markers"
            [fill]="chartOptions.fill"
            [tooltip]="chartOptions.tooltip">
          </apx-chart>
        </div>
      </div>

      <div class="card card-bordered bg-dark">
        <div class="card-header">Acessos</div>
        <div class="card-body">
          <div class="flex-charts">
            <apx-chart
              [series]="multipleRadialbarsChartOptions.series"
              [chart]="multipleRadialbarsChartOptions.chart"
              [plotOptions]="multipleRadialbarsChartOptions.plotOptions"
              [labels]="multipleRadialbarsChartOptions.labels"
              [fill]="multipleRadialbarsChartOptions.fill">
            </apx-chart>

            <apx-chart
              [series]="multipleRadialbarsChartOptions.series"
              [chart]="multipleRadialbarsChartOptions.chart"
              [plotOptions]="multipleRadialbarsChartOptions.plotOptions"
              [labels]="multipleRadialbarsChartOptions.labels"
              [fill]="multipleRadialbarsChartOptions.fill">
            </apx-chart>
            
            <apx-chart
              [series]="multipleRadialbarsChartOptions.series"
              [chart]="multipleRadialbarsChartOptions.chart"
              [plotOptions]="multipleRadialbarsChartOptions.plotOptions"
              [labels]="multipleRadialbarsChartOptions.labels"
              [fill]="multipleRadialbarsChartOptions.fill">
            </apx-chart>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div *ngFor="let item of content; let i = index" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
          <app-card
            title="Clicks"
            [subtitle]="clicks[i]"
            [outline]="true"
            size="4rem"
            height="22rem"
            width="16rem"
            (click)="clickCount(i)"
            [img]="item.img"
            icon="fa fa-hand-o-up">
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
