<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="root" [@appeard]="state">
  <div class="container-root">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
          <app-card
            title="Clicks"
            [subtitle]="clicks"
            [outline]="true"
            size="4rem"
            height="22rem"
            width="16rem"
            (click)="clickCount()"
            icon="fa fa-hand-o-up">
          </app-card>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
          <app-card
            title="Clicks"
            [subtitle]="clicks"
            [outline]="true"
            size="4rem"
            height="22rem"
            width="16rem"
            (click)="clickCount()"
            icon="fa fa-hand-o-up">
          </app-card>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
          <app-card
            title="Clicks"
            [subtitle]="clicks"
            [outline]="true"
            size="4rem"
            height="22rem"
            width="16rem"
            (click)="clickCount()"
            icon="fa fa-hand-o-up">
          </app-card>
        </div>
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
          <app-card
            title="Clicks"
            [subtitle]="clicks"
            [outline]="true"
            size="4rem"
            height="22rem"
            width="16rem"
            (click)="clickCount()"
            icon="fa fa-hand-o-up">
          </app-card>
        </div>
      </div>

      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [labels]="chartOptions.labels"
        [stroke]="chartOptions.stroke"
        [plotOptions]="chartOptions.plotOptions"
        [markers]="chartOptions.markers"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip">
      </apx-chart>

      <div class="flex-charts">
        <apx-chart
          [series]="multipleRadialbarsChartOptions.series"
          [chart]="multipleRadialbarsChartOptions.chart"
          [plotOptions]="multipleRadialbarsChartOptions.plotOptions"
          [labels]="multipleRadialbarsChartOptions.labels"
          [fill]="multipleRadialbarsChartOptions.fill">
        </apx-chart>

        <apx-chart
          [series]="multipleRadialbarsChartOptions.series"
          [chart]="multipleRadialbarsChartOptions.chart"
          [plotOptions]="multipleRadialbarsChartOptions.plotOptions"
          [labels]="multipleRadialbarsChartOptions.labels"
          [fill]="multipleRadialbarsChartOptions.fill">
        </apx-chart>

        <apx-chart
          [series]="multipleRadialbarsChartOptions.series"
          [chart]="multipleRadialbarsChartOptions.chart"
          [plotOptions]="multipleRadialbarsChartOptions.plotOptions"
          [labels]="multipleRadialbarsChartOptions.labels"
          [fill]="multipleRadialbarsChartOptions.fill">
        </apx-chart>
      </div>

      <div class="flex-charts">
        <apx-chart
          [series]="radialbarsChartOptions.series"
          [chart]="radialbarsChartOptions.chart"
          [plotOptions]="radialbarsChartOptions.plotOptions"
          [labels]="radialbarsChartOptions.labels"
          [fill]="radialbarsChartOptions.fill">
        </apx-chart>

        <apx-chart
          [series]="radialbarsChartOptions.series"
          [chart]="radialbarsChartOptions.chart"
          [plotOptions]="radialbarsChartOptions.plotOptions"
          [labels]="radialbarsChartOptions.labels"
          [fill]="radialbarsChartOptions.fill">
        </apx-chart>

        <apx-chart
          [series]="radialbarsChartOptions.series"
          [chart]="radialbarsChartOptions.chart"
          [plotOptions]="radialbarsChartOptions.plotOptions"
          [labels]="radialbarsChartOptions.labels"
          [fill]="radialbarsChartOptions.fill">
        </apx-chart>
      </div>

      <apx-chart
        [series]="columnChartOptions.series"
        [chart]="columnChartOptions.chart"
        [dataLabels]="columnChartOptions.dataLabels"
        [plotOptions]="columnChartOptions.plotOptions"
        [responsive]="columnChartOptions.responsive"
        [xaxis]="columnChartOptions.xaxis"
        [legend]="columnChartOptions.legend"
        [fill]="columnChartOptions.fill">
      </apx-chart>
    </div>
  </div>
</div>
