<div class="nav" *ngIf="isMobile || scrolled" [@appeard]="state">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header"></div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="font-weight-bold"><i class="fa fa-home mr-2"></i> Início </a>
    <a routerLink="/maps" routerLinkActive="font-weight-bold"><i class="fa fa-map-marker mr-2"></i> Mapas </a>
    <a routerLink="/notifications" routerLinkActive="font-weight-bold"><i class="fa fa-bell mr-2"></i> Notificações </a>
    <a routerLink="/profile" routerLinkActive="font-weight-bold"><i class="fa fa-user-circle mr-2"></i> Perfil </a>
    <a routerLink="/dashboard" routerLinkActive="font-weight-bold"><i class="fa fa-bar-chart-o mr-2"></i> Dashboard </a>
    <a routerLink="/docs" routerLinkActive="font-weight-bold"><i class="fa fa-folder-open mr-2"></i> Documentos </a>
    <a routerLink="/notes" routerLinkActive="font-weight-bold"><i class="fa fa-font mr-2"></i> Anotações </a>
    <a routerLink="/info" routerLinkActive="font-weight-bold"><i class="fa fa-info mr-2"></i> Informações </a>
    <a (click)="logout()" routerLinkActive="font-weight-bold"><i class="fa fa-power-off mr-2"></i> Sair </a>
  </div>
</div>