<div class="nav" [@appeard]="state" *ngIf="isMobile">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header"></div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a routerLink="/home"><i class="fa fa-home"></i> Início </a>
    <a routerLink="/home"><i class="fa fa-laptop"></i> Componentes </a>
    <a routerLink="/home"><i class="fa fa-list"></i> Formulários </a>
    <a routerLink="/home"><i class="fa fa-power-off"></i> Sair </a>
  </div>
</div>