<div class="nav" [@appeard]="state" *ngIf="isMobile">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header"></div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a routerLink="/home"><i class="fa fa-home mr-2"></i> Início </a>
    <a routerLink="/home"><i class="fa fa-laptop mr-2"></i> Componentes </a>
    <a routerLink="/home"><i class="fa fa-list mr-2"></i> Formulários </a>
    <a routerLink="/home"><i class="fa fa-folder-open mr-2"></i> Documentos </a>
    <a routerLink="/home"><i class="fa fa-bar-chart-o mr-2"></i> Estatísticas </a>
    <a routerLink="/home"><i class="fa fa-font mr-2"></i> Anotações </a>
    <a routerLink="/home"><i class="fa fa-map-marker mr-2"></i> Mapas </a>
    <a routerLink="/home"><i class="fa fa-info mr-2"></i> Informações </a>
    <a routerLink="/login"><i class="fa fa-power-off mr-2"></i> Sair </a>
  </div>
</div>